
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <div id="qwe" class="tz-gallery container gallery-container">

        <div class="row">
            <div id="container1"></div>    
            <section>
                <image-item *ngFor="let image of images"
                    [mediaItemToWatch]="image"
                    (deleted)="onMediaItemDeleted($event)"
                    (edited)="onMediaItemEdited($event)"
                    class="col-sm-6 col-md-4" >
                </image-item>    
            </section>
        </div>
    </div>
    
  </div>
</div>

